<!DOCTYPE html>
<html>
<body bgcolor="339966">

<h style="text-align:center; display:block; font-size:300%;font-family:calligraphy;color:blue;" > Remove your ADS </h>

<p align="center" style="top: 75%; color:red; font-size:150%;font-family:calligraphy;" >You haven't posted any deals yet </p>

<form action="http://localhost:3000/static_pages/home" method="link">
<p style="text-align: left;"><input type="submit" value="BACK TO HOME" />&nbsp;</p>
</form>
</body>
</html>
