
<body bgcolor="339966">
<h1>BUDeal$</h1>
<table>
<tr>
<th>FirstName</th>
<th>LastName</th>
<th>EmailId</th>
<th>PhoneNumber</th>
<th></th>
<th></th>
</tr>
<% @students.each do |s| %>
<tr>
<td><%= s.firstname %></td>
<td><%= s.lastname %></td>
<td><%= s.emailid %></td>
<td><%= s.phoneno %></td>
</tr>
<% end %>
</table>

